//
// CSS Variables
//



//
// Sass Variables
//
$off-black: #212121;
$primary-accent: hsl(171, 100%, 41%);

// Colours

// Fonts
$heading-color: $off-black;
$default-font-size: 1.6rem;

// Layout

// Breakpoints
$tablet-breakpoint: 1199px;
$mobile-breakpoint: 767px;
$small-mobile-breakpoint: 450px;


