//
// CSS Variables
//



//
// Sass Variables
//
$off-black: #212121;
$primary-accent: hsl(171, 100%, 41%);

// Colours

// Fonts
$heading-color: $off-black;
$default-font-size: 1.6rem;
$size-normal: $default-font-size;

// Bulma Size override
$size-7: 1.2rem;

// Layout

// Breakpoints
$tablet-breakpoint: 1199px;
$mobile-breakpoint: 800px;
$small-mobile-breakpoint: 450px;


